/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://i.postimg.cc/Kzb75LYp/pexels-tima-miroshnichenko-5912634.jpg");
    background-size: cover;
}
.style{
    opacity: 0;
}
