<div class="container text-center p-5 mt-4 fs-5 w-50">
    <h2 class="text-white">Transaction History</h2>
    <table class="w-100 w-50 p-3 mt-4  text-white"style="border:2px white solid;background-color: rgba(0, 0, 0, 0.3);">
        <thead>
            <tr>
                <th>Type</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of transactionData">
            <tr>
                <td>{{i.Type}}</td>
                <td>{{i.amount}}</td>
            </tr>
           
        </tbody>
    </table>
</div>
